<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="/css/jobs.css">
    <title>Jobs : CareerPilot </title>
</head>

<body>
    {{>header2}}

    <main>

        <div class="jobs-hero">

            <h1 class="cover-title"> Jobs </h1>

            <p class="cover-para" style="text-align: center!important;">Explore Endless Opportunities: Your Gateway to
                Career Success </p>

            <div class="job-search">
                <form class="form-control" action="/jobs" method="POST">
                    <input type="text" name="jobKeyword" id="jobLocation" placeholder="Looking for? ">
                    <input type="text" placeholder="Enter Job Location" name="jobLocation" id="jobLocation">
                    <button class="btn" type="submit"> Search Jobs </button>
                    <button class="btn" onfocus="this.value='' "> Clear </button>
                </form>
            </div>


    </main>


    <div class="section">

        <h1 class="section-title"> Job Based on field </h1>

        {{!-- Type of jobs. For direct scrapping --}}

        <div class="categories">

            <div class="cat-items">
                <img src="/img/jobs/engg.png" alt="Image by Uniconlabs/Flaticons" height="80px" width="80px">
                <h3>Engineering</h3>
        
            </div>
            <div class="cat-items">
                <img src="/img/jobs/digital-m.png" alt="" height="80px" width="80px">
                <h3>Digital Marketing</h3>
           
            </div>
            <div class="cat-items">
                <img src="/img/jobs/business.png" alt="" height="80px" width="80px">
                <h3>Business</h3>
          
            </div>
            <div class="cat-items">
                <img src="/img/jobs/software-d.png" alt="" height="80px" width="80px">
                <h3>Software Developer</h3>
            
            </div>
            <div class="cat-items">
                <img src="/img/jobs/ds.png" alt="" height="80px" width="80px">
                <h3>Data Science</h3>
               
            </div>
            <div class="cat-items">
                <img src="/img/jobs/law.png" alt="" height="80px" width="80px">
                <h3>Law</h3>
              
            </div>

        </div>

        {{!-- Result container. Filters + Results --}}

        <div class="result-container">

            {{!-- Filters section --}}

            <div class="filters">

                <div class="filter-cat">
                    <h4 class="section-title"> Top Services </h4>
                    Show/Hide JobRapido Posting <input type="checkbox"> <br>
                    Show/Hide LinkedIn Posting<input type="checkbox"> <br>


                </div>

                <div class="filter-cat">
                    <h4 class="section-title"> Top Locations </h4>
                    Work from office <input type="checkbox"> <br>
                    Hybrid <input type="checkbox"> <br>
                    Remote/WFH <input type="checkbox"> <br>

                </div>

                {{!-- <div class="filter-cat">
                    <h4 class="section-title"> Top Salary </h4>

                </div> --}}


            </div>

            {{!-- Results --}}

            <div class="results">

                {{#each linkedinData}}

                <div class="result-box">
                    <span> Company Name : {{this.company}}</span><br>
                    <span> Job Title : {{this.title}} </span><br>
                    {{!-- <span> Start Date : </span><br>
                    <span> Internship Duration : </span><br> --}}
                    <span> Job Posted : {{this.listDate}}</span><br>
                    <span> Job Location : {{this.location}}</span>
                    <button class="btn"> View Details </button>
                    <button class="btn"> Apply </button>
                </div>

                {{/each}}

                {{#each jobRapidoData}}

                <div class="result-box">
                    <span> Company Name : {{this.company}}</span><br>
                    <span> Job Title : {{this.title}} </span><br>
                    {{!-- <span> Start Date : </span><br>
                    <span> Internship Duration : </span><br> --}}
                    {{!-- <span> Start Date : {{this.listDate}}</span><br> --}}
                    <span> Job Location : {{this.location}}</span>
                    <button class="btn"> View </button>
                </div>

                {{/each}}

            </div>

        </div>
    </div>


</body>

</html>