<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>Jobs : CareerPilot </title>
</head>
<body>
    {{>header}}

    <div class="jobContainer">

    <h1 class="section-titles"> Job Search </h1>

    </div>


    <form class="form-control" action="/jobs" method="POST">

    <label for="jobKeyword"> Job Keyword </label>
    <input type="text" placeholder="Enter Job Keyword" name="jobKeyword" id="jobKeyword">

     <label for="jobKeyword"> Job Location </label>
    <input type="text" placeholder="Enter Job Location" name="jobLocation" id="jobLocation">
    <button class="btn" type="submit"> Search Jobs </button>
        <button class="btn" onfocus = "this.value='' "> Clear </button>
    
    <div class="jobFilters">

        <p> Work Mode </p>

        Work from office <input type="checkbox"> <br>
        Hybrid <input type="checkbox"> <br>
        Remote/WFH <input type="checkbox"> <br>
    </div>

         <div class="internshipData" id="filterData">


            <div class="linkedinContainer">
                <h1 class="section-subtitles"> Linkedin Jobs </h1>

                {{#each linkedinData}}

                <div class="internshipContainer">
                    <span> Company Name : {{this.company}}</span><br>
                    <span> Job Title : {{this.title}} </span><br>
                    <span> Start Date : {{this.listDate}}</span><br>
                    <span> Job Location : {{this.location}}</span>
                    <button class="btn"> View Details </button>
                    <button class="btn"> Apply </button>
                </div>

                {{/each}}
        
            </div>

            <div class="linkedinContainer">
                <h1 class="section-subtitles"> JobRapido Jobs </h1>

                {{#each jobRapidoData}}

                <div class="internshipContainer">
                    <span> Company Name : {{this.company}}</span><br>
                    <span> Job Title : {{this.title}} </span><br>
                    {{!-- <span> Job Duration : </span><br>
                    <span> Start Date : </span><br> --}}
                    <span> Job Location : {{this.location}} </span>
                    <button class="btn"> View Details </button>
                    <button class="btn"> Apply </button>
                </div>

                {{/each}}

                <div class="linkedinContainer">
                <h1 class="section-subtitles"> Naukri.com Jobs </h1>

                {{#each naukriDotComJobs}}

                <div class="internshipContainer">
                    <span> Company Name : {{this.company}}</span><br>
                    <span> Job Title : {{this.title}} </span><br>
                    <span> Start Date : </span><br>
                    <span> Job Duration : </span><br>
                    <span> Start Date : </span><br>
                    <span> Job Location : </span>
                    <button class="btn"> View </button>
                </div>

                {{/each}}

                {{errorRender.statusCode}}
                {{errorRender.statusText}}
                {{errorRender.resStatus}}
                {{errorRender.resMessage}}

        
            </div>

    </form>


</body>
</html>