<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="/css/scholarships.css">
    <title>Scholarship Search : CarrerPilot</title>
</head>

<body>
    {{>header2  }}


    <div class="scholarship-hero">

        <h1 class="cover-title"> Scholarship Search Portal</h1>

        <p class="cover-para" style="text-align: center!important;">Explore Endless Opportunities: Your Gateway to
            Career Success </p>
    </div>

    <center>

        <div class="scholarshipPortal">

            <form method="POST" action="/scholarships">

                <h2 class="section-titles"> India's No. #1 Scholarship Search Engine </h2>
           
                <br>
                <label for="education"> Your Goal/Education </label>

                <select name="educationForScholarship" id="educationForScholarship">
                    <option value="b-tech-">B-Tech</option>
                    <option value="mca">MCA</option>
                    <option value="mbbs">MBBS</option>
                    <option value="mba">MBA</option>
                    <option value="bba">BBA</option>
                    <option value="dnb">DNB</option>
                    <option value="class_i_iv">Class I-IV</option>
                    <option value="class_xii">Class XII</option>
                </select>

                <label for="state">Choose a state :</label>

                {{!-- Yet to work --}}

                <select name="locationForScholarship" id="locationForScholarship">
                    <option value="india">All India</option>
                    <option value="gujarat">Gujarat</option>
                    <option value="assam">Assam</option>
                    <option value="kerala">Kerela</option>
                    <option value="bihar">Bihar</option>
                    <option value="nagaland">Nagaland</option>
                    <option value="andaman">Andaman and Nicobar Islands</option>
                    <option value="rajasthan">Rajasthan</option>
                </select>

                <button class="btn" type="submit"> Search </button>

                {{!-- <h1 class="index-para section-titles"> Search by Keyword </h2>

                <input type="text" name="scholarshipKeyword" id="scholarshipKeyword">
                <button class="btn"> Search</button>
                <button class="btn" onfocus = "this.value='' "> Clear </button> --}}

            </form>

    </center>

    <div class="section">
        <div class="filters">

            <h1 class="section-subtitles"> Filters</h1>

            <h4> Sort by </h4>

            <button class="btn" id="ascendingButton" onclick="sortData('asc')">Sort Ascending</button>
            <button class="btn" id="descendingButton" onclick="sortData('desc')">Sort Descending</button>

            <br><br> <label> Hide/Show Scholarship Forme </label> <input type="checkbox" name="internshalaToggle"
                onchange="toggleInternshala()">
            {{!-- <br> <label> Hide/Show Linkedin </label> <input type="checkbox" name="internshalaToggle"
                onchange="toggleLinkedin()">
            <br> <label> Only Show Top Companies </label> <input type="checkbox" name="internshalaToggle"
                onchange="toggleInternshala()">
            <br> <label> Only Show Work from Home </label> <input type="checkbox" name="internshalaToggle"
                onchange="toggleInternshala()"> --}}

        </div>

        <div class="results" id="filterData">

            <div class="internshalaContainer">


                {{#each sFormeData}}

                <div class="result-box">
                    <span> Scholarship Name : {{this.title}}</span><br>
                    <span> Location : {{this.location}} </span><br>
                    <span> Validity : {{this.validity}} </span><br>
                    {{!-- <span> Description : {{this.description}} </span><br> --}}
                    {{!-- <span> Start Date : </span><br>
                    <span> Internship Location : {{this.location}}</span> --}}
                    <button class="btn"> <a href="{{redirectDomain}}" target="_blank"> View Scholarship </a></button> 
                </div>
                {{/each}}



            </div>


        </div>

    </div>

    </div>

    <script>

       
    </script>

    {{>footer2}}
</body>

</html>