<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="css/userprofile.css">
    <title>My Profile : CareerPilot </title>
</head>

<body>

    {{>header2}}

    {{message}}

    {{!-- {{#if user.profilePicture}} --}}
    <!-- Content to display if user has a profile picture -->

    <div class="profile-cover-img">
        {{!-- <img src="img/profile/cover.jpg" alt="Cover Photo"> --}}

    </div>

    <div class="profile-container">


    <div class="profilePicture">
        <span>

        <img src="data:image/jpg;base64,{{profileImageData}}" height="200px" width="250px" alt="Profile Image">
        </span>

    </div>
        <div class="profile-info">
        <h1 id="profile-name"> {{capName}}</h1>
        <p id="edu"> {{userProfile.userCity}}</p>

        </div>

        <div class="vertical-line"></div>

        <div class="profile-info">
        <h1 id="profile-name"> {{userProfile.userClg}}</h1>
        <p id="edu"> {{userProfile.userCity}}</p>

        </div>

    </div>

    {{!-- {{else}} --}}
    <!-- Content to display if user does not have a profile picture -->
    {{!-- {{/if}} --}}


    <form action="/myprofile" method="POST" role="form" enctype="multipart/form-data">
        <input type="file" name="updateImage"> Upload Profile Picture
        <button class="btn" type="submit"> Save Changes </button>
    </form>




    <div class="internshipContainer" style="width=90% !important">

        <h1 class="section-subtitles"> About Information </h1>

        <br> Gender : {{userProfile.userGender}}
        <br> City : {{userProfile.userCity}} , {{userProfile.userState}}
        <br> Status : {{userProfile.userStatus}}
        <br> Age : {{userProfile.userAge}}

        <br> <button class="btn" onclick="editProfile()"> Edit Info </button>
    </div>

    <div class="internshipContainer" style="width=90% !important">

        <h1 class="section-subtitles"> Educational Information </h1>

        <br> College : {{userProfile.userClg}}
        <br> Branch : {{userProfile.userBranch}}
        <br> Course : {{userProfile.userCourse}}
        <br> Interests : {{userProfile.interests}}


        <br> <button class="btn" onclick="editProfile()"> Edit Info </button>
    </div>

    <script>

        function editProfile() {

            alert("Still in development!!!");
        }
    </script>
    {{footer}}

</body>

</html>