<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerMeta2}}
    <link rel="stylesheet" href="css/userprofile.css">
    <title>My Profile : CareerPilot </title>
</head>

<body>

    {{>header2}}

    {{message}}

    {{!-- {{#if user.profilePicture}} --}}
    <!-- Content to display if user has a profile picture -->

    <div class="profile-cover-img">
        {{!-- <img src="img/profile/cover.jpg" alt="Cover Photo"> --}}

    </div>

    <div class="profile-container">


        <div class="profilePicture">
            <span>

                <img src="data:image/jpg;base64,{{profileImageData}}" height="200px" width="250px" alt="Profile Image">
            </span>

        </div>
        <div class="profile-info">
            <h1 id="profile-name"> {{capName}}</h1>
            <p id="edu"> Full Stack Web Developer </p>

        </div>

        <div class="vertical-line"></div>

        <div class="profile-info">
            <h1 id="profile-name"> {{userProfile.userClg}}</h1>
            <p id="edu"> {{userProfile.userCity}}</p>

        </div>

    </div>

    <div class="profile-info-container">
        <div class="profile-info">
            <h1 id="profile-name"> Personal Information </h1><hr>
           <span> <div class="profile-items"> <img src="/img/vectors/env-email.svg" height="25px" width="25px"> Gender : {{userProfile.userGender}} </div> </span><br>
           <span> <div class="profile-items"> <img src="/img/vectors/city.svg" height="25px" width="25px"> City : {{userProfile.userCity}} , {{userProfile.userState}} , {{userProfile.userCountry}} </div> </span><br>
           <span> <div class="profile-items"> <img src="/img/vectors/age.svg" height="25px" width="25px"> Age : {{userProfile.userAge}} </div> </span><br>
           <span> <div class="profile-items"> <img src="/img/vectors/gender.svg" height="25px" width="25px"> Email : {{userProfile.userEmail}} </div> </span><br>
     
        </div>

        <div class="profile-info">
            <h1 id="profile-name"> Educational Information </h1><hr>
            <span> <div class="profile-items"> <img src="/img/vectors/clg.svg" height="25px" width="25px"> College : {{userProfile.userClg}} </div> </span><br>
            <span> <div class="profile-items"> <img src="/img/vectors/branch.svg" height="25px" width="25px"> Branch : {{userProfile.userBranch}} </div> </span><br>
            <span> <div class="profile-items"> <img src="/img/vectors/course.svg" height="25px" width="25px"> Course : {{userProfile.userCourse}} </div> </span><br>
               <span> <div class="profile-items"> <img src="/img/vectors/code-b.svg" height="25px" width="25px"> Interests : Full Stack Web Development </div> </span><br>


        </div>

        <div class="profile-info">
            <h1 id="profile-name"> Skills / Interests </h1>
            <br>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li> NodeJs </li>
              
            </ul>

        </div>

        <div class="profile-info">
            <h1 id="profile-name"> Certifications </h1><br>
             <ul>
                <li>SoloLearn : Master HTML in 2 Weeks </li>
                <li>Microsoft Azure : Cloud Computing </li>
                <li>Infosys : Full Stack Web Development By Mukesh</li>
                <li> Udemy :  NodeJs Certified Developer </li>
              
            </ul>
         

        </div>
    </div>

    {{!-- {{else}} --}}
    <!-- Content to display if user does not have a profile picture -->
    {{!-- {{/if}} --}}

    {{!-- Grey-bg-container for center aligning purpose --}}

    <div class="grey-bg-container">

    <div class="grey-background">

    <form action="/myprofile" method="POST" class="pfp-control" role="form" enctype="multipart/form-data">
        <input type="file" name="updateImage"><p>Upload Profile Picture</p> 
        <button class="btn" type="submit"> Save Changes </button>
    </form>

    </div>

    </div>

    <script>

        function editProfile() {

            alert("Still in development!!!");
        }
    </script>
    {{>footer2}}

</body>

</html>