<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerMeta}}
    <title>My Profile : CareerPilot </title>
</head>
<body>

    {{>header}}

    {{message}}

    <h1 class="section-titles index-para"> {{userProfile.username}}</h1>

    <div class="internshipContainer" style="width=90% !important">

        <h1 class="section-subtitles"> About Information </h1>

        <br> Gender : {{userProfile.userGender}} 
        <br> City : {{userProfile.userCity}} , {{userProfile.userState}}
        <br> Status : {{userProfile.userStatus}}
        <br> Age : {{userProfile.userAge}}
       
        <br> <button class="btn" onclick="editProfile()"> Edit Info </button>
    </div>

    <div class="internshipContainer" style="width=90% !important">

        <h1 class="section-subtitles"> Educational Information </h1>

        <br> College : {{userProfile.userClg}} 
        <br> Branch : {{userProfile.userBranch}} 
        <br> Course : {{userProfile.userCourse}}
        <br> Interests : {{userProfile.interests}}
       

        <br> <button class="btn" onclick="editProfile()"> Edit Info </button>
    </div>

    <script>

        function editProfile(){

            alert("Still in development!!!");
        }
    </script>
    {{footer}}
    
</body>
</html>